.explore-container {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  padding: 20px;
}

.record-card {
  width: 362px;
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.record-header {
  display: flex;
  align-items: center;
  padding: 8px 15px;
  background-color: #f9f9f9;
}

.user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.explore-user-name {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}

.gym-name {
  /* color: #888; */
  margin: 0;
}

.record-content {
  padding: 10px;
}

.image-slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slide {
  width: 100%;
  display: none;
}

.slide.active {
  display: block;
}

/* .slide img {
  width: 100%;
  display: block;
} */

.pagination {
  text-align: center;
  padding: 10px 0;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: rgb(40, 130, 255);
}

/* .active {
  background-color: #436abf;
} */

/* .record-level,
.record-memo {
  margin: 10px 0;
} */

.record-footer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #f9f9f9;
}

.record-footer button {
  padding: 0 5px;
  width: 60px;
  background-color: rgb(255, 251, 248);
  border: 1px solid rgb(126, 126, 126);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(203, 193, 185, 0.5);
  cursor: pointer;
}

.record-footer1 {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}

.comment-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
  margin-bottom: 15px;
}

.comment-list p {
  margin-bottom: -10px;
}

/* .likes,
.comments {
  display: flex;
  align-items: center;
} */

/* .likes button,
.comments button {
  margin-right: 5px;
} */

.comment-input {
  display: flex;
  align-items: center;
  margin: 0 8px;
}

.comment-input input {
  flex: 1;
  padding: 5px;
  margin-right: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
}

.comment-input input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.comment-input button {
  background-color: rgb(40, 130, 255);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.comment-input button:hover {
  background-color: #0961c0;
}

.file-container {
  width: 320px;
  height: 240px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.file-content {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}