.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    color: #fff;
    text-align: center;
    padding: 15px 20px 0 20px;
    z-index: 1000;
}

.logo {
    max-height: 65px;
    margin-right: 10px;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-links {
    display: flex;
    align-items: center;
}

.menu-login {
    margin-right: 10px;
}

.button {
    margin-left: 20px;
    text-decoration: none;
    color: rgb(67, 67, 67);
}
 
.button.active {
    color: #bb1c00;
    font-weight: bold;
}
 
.header-menu > div {
    display: flex;
    align-items: center;
}

.login-button {
    padding: 5px 25px;
    border: 1px solid rgb(255, 98, 0);
    border-radius: 5px;
    background-color: rgb(255, 98, 0);
    color: white;
}

.login-button:hover {
    background-color: rgb(255, 115, 0);
    border: 1px solid rgb(255, 115, 0);
}