button[type="submit"] {
    display: block;
    width: 150px;
    padding: 10px;
    background-color: rgb(255, 98, 0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.personal-records-box {
    display: flex;
    flex-direction: column;
}

.personal-records {
    display: flex;
}

.personal-records > p {
    padding-right: 20px;
}

.personal-records-memo {
    display: flex;
}